.header{
    margin-top: 150px;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-style: oblique; 
    /* border: 3px solid brown;     */
}

.About{
    color: white;
    text-shadow: 1px 1px 0 black;
    font-style: oblique;
    margin-left: 50px;
    margin-bottom: 70px;
}

.proyectos{
    list-style-position: inside;
    text-align: center; 
    /* margin-left: 50px; */
    margin-top: 50px;
    /* margin-right: 70%; */
    color: white;
    text-shadow: 1px 1px 0 black;
    font-style: oblique;
}

.soft li, .proyectos ul{
    margin-right: 40px;
}
/* .proyectos ul{
    margin-right: 30%;
} */

/* .proyectos ul li{
    width: 100px;
} */

/* .proyectos a{
    margin-right: 90px;
} */

.cv{
    /* margin-right: 1100px; */
    color: white;
    text-shadow: 1px 1px 0 black;
    font-style: oblique;
    margin-bottom: 70px;
}

.contact{
    list-style-position: inside;
    text-align: center; 
    color: white;
    text-shadow: 2px 2px 0 black;
    font-style: oblique;
    margin-top: 70px;
}



.contact a{
    margin-left: 5px;
}

.linkedin img, .github img, .gmail img{
    width: 30px;
    height: 30px;
}