.skills{
    /* margin-right: 80%; */
    /* margin-top: 150px; */
    list-style-position: inside;
    text-align: center; 
    color: #fff;
    text-shadow: 1px 1px 0 black;
    font-style: oblique;
}

.prim{
    display: flex;
    flex-direction: row;
    align-items:start;
    margin-bottom: 70px;
}

.lenguajes{
    margin-left: 20%;
}

.frameworks{
    display: flex;
    flex-direction: row;
    align-items:start;
    margin-top: 0;
    margin-bottom: 50px;
}

.front{
    margin-left: 20%;
}
.back{
    margin-left: 5%;
}

.otros{
    display: flex;
    flex-direction: row;
    align-items:start;
    margin-top: 50px;
    margin-bottom: 70px;
}

.platform{
    margin-left: 10%;
}
.tools, .version{
    margin-left: 5%;

}

.diseno{
    margin-left: 5%;
}

.soft{
    display: flex;
    flex-direction: row;
    align-items:start;
    margin-top: 0; 
    margin-left: 20%;
}

.soft div img{
    width: 140px;
    height: 120px;
    margin-right:20px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

.lenguajes img{
    width: 140px;
    height: 120px;
    margin-right:20px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

.frameworks img{
   width: 140px;
    height: 120px;
    margin-right:20px ;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

.database img{
   width: 140px;
    height: 120px;
    margin-right:20px ;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;

}

.diseno img{
   width: 140px;
    height: 120px;
    margin-right:20px ;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

.platform img{
   width: 140px;
    height: 120px;
    margin-right:20px ;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

.version img{
   width: 140px;
    height: 120px;
    margin-right:20px ;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

.tools img{
   width: 140px;
    height: 120px;
    margin-right:20px ;
    border: 2px solid #fff;
    box-shadow: 0 0 0 #fff;
}

img{
    background-color: #fff;
}