.container{
    margin-top: 125px; 
}

.div h1{
    color: #ccc;
    box-shadow: 0 0 10px #E6E6E6;
}

.div img{
    animation-name: agrandamiento;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes agrandamiento{
    from{
        width: 50px;
        height: 32px;
    } 
    to{
        width: 400px;
        height: 300px;
    }
}

.data{
    color: #fff;
}

.galery{
    display: flex;
    flex-direction: column;
    margin-left: 23%;
    /* margin-right: 50%; */
}

.galery img{
    width: 700px;
    height: 400px;   
}