.content {
    margin-top: 125px; /* La misma altura que la navbar */
    display: flex;
    flex-direction: row;
}

.div{
    /* border: 5px solid silver; */
    width: 240px;
    height: 320px;
    /* background-image: linear-gradient(to right, #eaeaea, #f6f6f6); */
    border: 4px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #E6E6E6;
    padding-bottom: 20px;
}

.div h2{
    color: #ccc;
}

.div p{
    color: #ccc;
}

/* .portada{
    margin-right: 150px;
    /* padding-right: 200px; */
/* } */

/* .portadaWL{
    margin-left: 150px;
} */

img{
    margin-top: 20px;
    width: 160px;
    height: 100px;
    border: 4px solid #ffd700; /* Borde dorado */
    box-shadow: 0 0 10px #ffd700;
}

.imgNoConcluido{
    margin-top: 20px;
    width: 160px;
    height: 100px;
    border: 4px solid #E7E7E7; /* Borde plateado */
    box-shadow: 0 0 10px #E7E7E7;
}

.button{
    background-color: #ffd700;
    box-shadow: 0 0 10px #ffd700;
}

.buttonNoConcluido{
    background-color: #E7E7E7;
    box-shadow: 0 0 10px #E7E7E7;
}

/* .animation{
    position: absolute;
    transform: translate(-50%, -50%);
    animation: fadeInOut 3s ease-in-out;
    text-align: center;
    color: #ff6347;
    font-size: 1.2rem;
    margin-bottom: 10px;
    z-index: 10;
}

@keyframes fadeInOut{ 
    0% {opacity: 0; transform: scale(0.9);}
    50% {opacity: 1; transform: scale(1.1);}
    100% {opacity: 0; transform: scale(0.9);}
} */

