.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 125px;
    width: 100%;
    border: 1px solid black;
    /* background-color: gold; */
    display: flex;
}

.header{
    margin-top: 0;
    
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffd700;
    box-shadow: 0 0 10px #ffd700;
}

.header h2{
    margin-left: 20%;
    font-style: oblique;
    color: black;
}

.buttons{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
}

.buttons button{
    background-color: #ffd700;
    box-shadow: 0 0 10px #ffd700;
}

.buttons button a{
    color: rgb(125, 90, 3);
}

.button3{
    margin-right: 30%;
}